In [1]:
import investpy
import pandas as pd


# 브라질 국채 목록 조회
brazil_bonds = investpy.get_bonds(country='Brazil')
brazil_bonds

  country        name       full_name
0  brazil   Brazil 3M  Brazil 3-Month
1  brazil   Brazil 6M  Brazil 6-Month
2  brazil   Brazil 9M  Brazil 9-Month
3  brazil   Brazil 1Y   Brazil 1-Year
4  brazil   Brazil 2Y   Brazil 2-Year
5  brazil   Brazil 3Y   Brazil 3-Year
6  brazil   Brazil 5Y   Brazil 5-Year
7  brazil   Brazil 8Y   Brazil 8-Year
8  brazil  Brazil 10Y  Brazil 10-Year

In [2]:
bond_data = investpy.get_bond_historical_data(bond='Brazil 3M', from_date='11/10/2024', to_date='11/04/2025')
bond_data

ConnectionError: ERR#0015: error 403, try again later.

In [56]:
bond_data.to_csv('Brazil-6M.csv')

In [10]:
import yfinance as yf

usd_brl_futures = yf.Ticker("BRL=X")

usd_brl = usd_brl_futures.history(period="6mo")
usd_brl = usd_brl.loc['2024-10-11':'2025-04-11', :]
brl_usd = 1 / usd_brl

In [11]:
brl_usd.index = brl_usd.index.strftime('%Y-%m-%d')
brl_usd.index = pd.to_datetime(brl_usd.index)
brl_usd

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-11,0.179157,0.176938,0.179892,0.179157,inf,inf,inf
2024-10-14,0.178234,0.177010,0.179224,0.178234,inf,inf,inf
2024-10-15,0.178741,0.176888,0.179173,0.178741,inf,inf,inf
2024-10-16,0.176929,0.175605,0.177650,0.176929,inf,inf,inf
2024-10-17,0.176429,0.175889,0.176813,0.176429,inf,inf,inf
...,...,...,...,...,...,...,...
2025-04-07,0.171232,0.168762,0.172432,0.171232,inf,inf,inf
2025-04-08,0.169102,0.166872,0.170605,0.169102,inf,inf,inf
2025-04-09,0.166298,0.163447,0.166598,0.166298,inf,inf,inf
2025-04-10,0.171877,0.168059,0.172127,0.171877,inf,inf,inf
2025-04-11,0.169944,0.169047,0.171963,0.169944,inf,inf,inf

In [12]:
brl_usd.to_csv('brl_usd.csv')

In [7]:
import yfinance as yf

usd_krw_futures = yf.Ticker("KRW=X")

usd_krw = usd_krw_futures.history(period="6mo")
usd_krw = usd_krw.loc['2024-10-11':'2025-04-11']
krw_usd = 1 / usd_krw

In [8]:
# Convert the index to %Y-%m-%d format
krw_usd.index = krw_usd.index.strftime('%Y-%m-%d')
krw_usd.index = pd.to_datetime(krw_usd.index)
krw_usd

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-11,0.000741,0.000740,0.000744,0.000741,inf,inf,inf
2024-10-14,0.000742,0.000735,0.000742,0.000742,inf,inf,inf
2024-10-15,0.000737,0.000733,0.000737,0.000737,inf,inf,inf
2024-10-16,0.000734,0.000732,0.000736,0.000734,inf,inf,inf
2024-10-17,0.000733,0.000728,0.000733,0.000733,inf,inf,inf
...,...,...,...,...,...,...,...
2025-04-07,0.000686,0.000680,0.000688,0.000686,inf,inf,inf
2025-04-08,0.000680,0.000675,0.000682,0.000680,inf,inf,inf
2025-04-09,0.000673,0.000673,0.000680,0.000673,inf,inf,inf
2025-04-10,0.000693,0.000682,0.000691,0.000693,inf,inf,inf
2025-04-11,0.000689,0.000687,0.000706,0.000689,inf,inf,inf

In [9]:
krw_usd.to_csv('krw_usd.csv')